@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AU+TAS:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


* {
  font-family: "Inter", sans-serif;
  background-color: #0a0a0a;
  color: #e5e5e5;
  scroll-behavior: smooth;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

a.active {
  color: #10b981;
  position: relative;
}

a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #10b981, transparent);
}

a.active hr {
  display: block;
  border-color: #10b981;
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@media (max-width: 640px) {
  a.active {
    background-color: #18181b;
    color: #10b981;
    border-radius: 8px;
  }
}